<div [formGroup]="form">
    <label [attr.for]="formelement.key">{{formelement.label}}</label><br>
    <!--form:{{form.controls.arraytest.controls | json}}-->
    <div [ngSwitch]="formelement.controlType">
        <!--<br> in ngswitch {{formelement |json}}<br>-->
        <input *ngSwitchCase="'text'" [formControlName]="formelement.key" [id]="formelement.key" [type]="formelement.type" />
        <select *ngSwitchCase="'dropdown'" [id]="formelement.key" [formControlName]="formelement.key">
            <option *ngFor="let opt of formelement.options" [value]="opt.key">{{opt.value}}</option>
        </select>
        <!--key:{{formelement |json}}-->
        <!--<br>for array {{formelement|json}}<br>-->
        <div *ngSwitchCase="'arrayobject'"  [formArrayName]="formelement.key">
            <!--<br>in first<br>-->
            <div *ngFor="let item of formelement.options; let i=index"  [formGroupName]="i" >
                <!--in seccond-->
                <!--i:{{i}}-->
             <!--formelmentoptions:{{item |json}}-->
                <div *ngFor="let element of item.element">
                    <!--beforedfcall:element:{{element |json}}<br>-->
                    <!--lementkey:{{element.key}}, value:{{element.value}}-->

                    <df-element [formelement]="element" [form]="form.controls[formelement.key].controls[i]" [formelements]="formelements"></df-element>

                    <!--<div *ngIf="element.controlType === 'text'" >-->
                        <!--<label>{{element.label}}</label>-->
                        <!--<input [formControlName]="element.key" [id]="element.key" [type]="element.type" />-->
                    <!--</div>-->
                    <!--<div  *ngIf="element.controlType === 'dropdown'" >-->
                        <!--<label>{{item.label}}</label>-->
                        <!--<select [id]="element.key" [formControlName]="element.key">-->
                            <!--<option *ngFor="let opt of element.options" [value]="opt.key">{{opt.value}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                </div>
            </div>
            <div (click)="addElement(formelement.options, formelement)">add</div>
        </div>
        <div *ngSwitchCase="'arrayelement'"  [formArrayName]="formelement.key">
                formelement:{{formelement|json}}
            <div *ngFor="let item of formelement.value; let i=index">
                <input formControlName="{{i}}" [type]="formelement.type">
                <span (click)="removeArrayElement(formelement.value, i)">x</span>
            </div>
            <div (click)="addArrayElement(formelement.value, form.controls[formelement.key].controls)">add</div>
        </div>
        <span class="description">{{formelement.description}}</span>
    </div>
    <!--<div class="errorMessage" *ngIf="formelement.controlType != 'array' && !isValid">{{formelement.label}} is required</div>-->
</div>